---
import Header from '../components/Header.astro';
---

<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
  </head>
  <body>
    <Header />

    <main>
      <h1>Aboutページ</h1>
      <p>これはAboutページです。</p>
    </main>
  </body>
</html>

<style>
  main {
    max-width: 600px;
    margin: 40px auto;
    padding: 0 20px;
  }
</style>
